<app-info-box center="true" small="true" title="Połącz się z Spotify, klikając przycisk poniżej">
  <p style="margin-bottom: 30px">
    <strong style="color: red">Ważne</strong> na pv na discord (Dynamix #1054) wyślij mi email, który jest połączony z
    spotify.
  </p>
  <h4>Sprawdź swój email klikając na swój nick w prawym górnym rogu w aplikacji spotify 👉🏻 konto 👉🏻 email</h4>
  <button color="success" mat-raised-button class="button" (click)="connectSpotify()">
    <img src="assets/spotify.svg" alt="logo Spotify" />
    Spotify
  </button>
</app-info-box>
