<mat-toolbar>
  <div class="logo-wrapper">
    <img src="assets/logo.png" alt="Dynamix bot logo" />
    <h1>Dynamix Bot</h1>
  </div>
  <nav
    class="navigation"
    [ngClass]="{
      'navigation--mobile': isHandset$ | async,
      'navigation--open': isOpenMenu
    }"
  >
    <div class="spacer"></div>
    <a class="nav-link" routerLink="/information" routerLinkActive="active" (click)="isOpenMenu = false">
      Information
    </a>
    <a
      *ngIf="isLoggedIn$ | async"
      class="nav-link"
      routerLink="/connections"
      routerLinkActive="active"
      (click)="isOpenMenu = false"
    >
      Connections
    </a>
    <a
      *ngIf="isLoggedIn$ | async"
      class="nav-link"
      routerLink="/dashboard"
      routerLinkActive="active"
      (click)="isOpenMenu = false"
    >
      Dashboard
    </a>
    <div class="spacer"></div>
    <a *ngIf="!(isLoggedIn$ | async)" mat-raised-button color="accent" class="login" (click)="login()">
      <img src="assets/twitch_logo.png" alt="twitch logo" />
      Login
    </a>
    <a *ngIf="isLoggedIn$ | async" mat-raised-button class="login" (click)="logout()"> Logout </a>
  </nav>
  <input #menu type="checkbox" (click)="changeMenu()" class="openSidebarMenu" id="openSidebarMenu" />
  <label
    *ngIf="isHandset$ | async"
    for="openSidebarMenu"
    class="sidebarIconToggle"
    [ngClass]="{ openMenu: isOpenMenu }"
  >
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
</mat-toolbar>
