.footer {
  position: relative;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  border-top: 1px solid #666;
  font-size: 0.8rem;
  margin-top: 50px;
}
