.change-volume-form {
  display: flex;
  flex-direction: column;
}

label,
.slider-wrapper {
  display: grid;
}

.slider-wrapper {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 30px;
  margin-bottom: 20px;
}

.wide-slider {
  grid-column: 1 / 3;
}
