.slots-form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.winning-percentage {
  color: var(--primaryColor);
}

label {
  display: flex;
  align-items: center;
}

mat-slide-toggle {
  margin-left: 10px;
}

.slots-tittle {
  margin-top: 20px;
}

.slots-list {
  max-width: calc(90vw - 60px);
  overflow-x: auto;
}

.slots-table {
  width: 100%;
  min-width: 500px;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: none;
}

td {
  text-align: left;

  &.mat-cell {
    border-bottom-width: 0;
  }
}
